.parent{
   /* display: flex;
    justify-items: center;
    align-items: center;*/
    height: 100%;
    width: 100%;
}

.bully{
    text-align: center;
}

#parent1{
   /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 6px;
    row-gap: 0px;*/
   margin: auto;
   height: 400px;
   width: 400px;
    border:solid;
    
}

.gonnacry{
    margin: 6px;
    height: 20vh;
    width: 20vh;
    background-image: url('/material/4uc4bf.png');
    float: left;
    background-size: cover;
    
    

}